# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
ENV/
env/

# Ignore system files
.DS_Store

# Ignore IDE/editor settings
.idea/
.vscode/

# Ignore environment variable files
.env
*.pyc
*.pyc
/bot/__pycache__
/__pycache__
*.pyc
